{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <header class="mt-5">
            <div class="row">
                <div class="col-md-5 text-md-end text-center">
                    <a href="" target="_blank">
                        <img src="{{ asset('assets/images/logo.png') }}" alt="Logo, un houblon génie de la pinte" width="200" height="200">
                    </a>
                </div>
                <div class="col-md-7 text-md-start text-center d-md-flex flex-column justify-content-center">
                    <h1>Que boire ce soir ?</h1>
                    <h2>Spécial bière 🍺</h2>
                </div>
            </div>
        </header>

        <section class="mt-5 p-4 rounded bg-white shadow">
            <app-prediction-form></app-prediction-form>
        </section>

        <footer class="mt-md-5 mt-3 py-md-5 py-3">
            <p class="text-center px-md-5 px-3">
                <i>Queboirecesoir.fr est conçue à des fins de divertissement uniquement et ne prétend en aucun cas fournir des prédictions réalistes,<br> l'abus d'alcool est dangereux pour la santé, consommez avec modération.</i>
            </p>

            <hr>

            <div class="row">
                <div class="col-md-6 text-md-start text-center mb-3">
                    Vous pouvez me <a href="https://www.buymeacoffee.com/kevinbalicot" target="_blank">payer une bière</a> :)
                </div>
                <div class="col-md-6 text-md-end text-center">
                    © {{ "now"|date("Y") }} queboirecesoir - <a href="https://twitter.com/kevinbalicot" target="_blank">kevinbalicot</a> - tous les droits réservés
                </div>
            </div>
        </footer>
    </main>
{% endblock %}
