{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <header class="text-center mt-5">
            <h1>Que boire ce soir ?</h1>
            <h2>Spécial bière 🍺</h2>
        </header>

        <section class="mt-5 p-4 rounded bg-white shadow">
            <app-prediction-form></app-prediction-form>
        </section>

        <footer class="mt-5 py-5">
            <p class="text-center px-5">
                <i>Queboirecesoir.fr est conçue à des fins de divertissement uniquement et ne prétend en aucun cas fournir des prédictions de styles de bière,<br> l'abus d'alcool est dangereux, consommez avec modération.</i>
            </p>

            <hr>

            <div class="d-flex justify-content-between">
                <span>Vous pouvez me <a href="https://www.buymeacoffee.com/kevinbalicot" target="_blank">payer une bière</a> :)</span>
                <span>© {{ "now"|date("Y") }} queboirecesoir - <a href="https://twitter.com/kevinbalicot" target="_blank">kevinbalicot</a> - all rights reserved</span>
            </div>
        </footer>
    </main>
{% endblock %}
